.text
{
    display: block;
    margin-top: 20vh;
    text-align: center;
}

.imageContainer
{
    display: inline-block;
    height: 40vh;
    overflow: hidden;
    vertical-align: middle;
}

.result
{
    margin: auto;
    object-fit: contain;
    height: 100%;
    width: 48vw;
    transition: height 0.15s;

    @media (min-width: 600px)
    {
        width: 32vw;
    }

    @media (min-width: 1200px)
    {
        width: 24vw;
    }

    @media (min-width: 1800px)
    {
        width: 19.5vw;
    }
}

.result:hover
{
    height: 95%;
}