.Card
{
    display: flex;
    flex-direction: column;
    font: var(--mui-font-h6);
}

.subheader
{
    font: var(--mui-font-h6);
    padding: 1vh 0 calc(1vh + 0.5em) 0;
    @media (min-width: 900px)
    {
        font: var(--mui-font-h5);
    }
}

.notfound
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.found
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    @media (min-width: 900px)
    {
        flex-direction: row;
    }
}

.found > span
{
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    align-items: center;
    text-align: center;
    @media (min-width: 900px)
    {
        text-align: start;
        align-items: start;
        max-width: 50vw;
    }
}

.found img
{
    max-width: 90vw;
}

.found text
{
    padding: 0.1vh 0;
    margin: 0.5vh 0;
    @media (min-width: 900px)
    {
        margin: 0;
    }
}

.found text:first-child
{
    font: var(--mui-font-h5);
    font-weight: bold;
    margin-bottom: 0.5em;
}

.found text:last-child
{
    margin-bottom: calc(1em + 1vh);
}

.found section
{
    display: inline;
}

.navbar
{
    display: flex;
    padding: calc(1vh + 0.1em);
    width: 100%;
    background: var(--mui-palette-primary-main);
    align-items: center;
    justify-content: center;
    gap: 1em;
}