@font-face
{
    font-family: "Macondo";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/macondo/v25/RrQQboN9-iB1IXmOe2LE0Q.woff2) format('woff2');
}

html, body
{
  margin: 0;
}

.App
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > *
  {
    flex-grow: 1;

    &:last-child
    {
      flex-grow: unset;
    }
  }
}

a
{
  cursor: pointer;
}