.subheader
{
    font: var(--mui-font-h6);
    padding: 1vh 0 calc(1vh + 0.5em) 0;
    @media (min-width: 900px)
    {
        font: var(--mui-font-h5);
    }
}

.searchbar
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
    padding-bottom: calc(1vh + 0.5em);

    @media (min-width: 900px)
    {
        width: 50vw;
    }

    > *:first-child
    {
        flex-grow: 1;
    }
}

.searchbutton
{
    margin-left: calc(0.5vw + 0.5em) !important;
    padding: calc(0.4rem + 6px) !important;
}

.navbar
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--mui-palette-primary-contrastText);
    width: 100vw;
    background: var(--mui-palette-primary-main);
    padding: 1vh 0;
    --mui-palette-text-primary: var(--mui-palette-primary-contrastText);
}